.slick-dots li button::before {
    font-size: 12px !important;
  }
  
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.45 !important;
  }
  
  .slick-prev:before,
  .slick-next:before {
    opacity: 9 !important;
    content: "" !important;
  }
  